
<%= link_to offer_path(offer.id), class:"unstyled-link" do %>
  <div class="shadow-m offer-card-container rounded-sm mx-2 my-4 ">
    <div class="offer-card-header flex flex-row justify-start items-stretch mb-2">
      <%= image_tag offer.user[:img_path], class: "offer-card-photo" %>
      <div class="title p-2">
        <div class="name text-l text-dark"><%= offer.user[:first_name]  %> <%= offer.user[:last_name]  %> </div>
        <div class="bio text-m text-med">Fullstack Developer</div>
        <% if offer.available_now %>

          <%= render 'components/pill', skill: {name: '● now', hue_code: 100 }, hover: false, selected: false, selectable: false%>
        <% end %>
      </div>
    </div>
    <div class="content px-3 flex flex-col flex-grow justify-start items-stretch">
      <div class="title text-l text-dark text-bold"><%= offer[:title] %></div>
      <div class="description text-m text-med"><%= offer[:description].truncate(100) %></div>
    </div>
    <div class="footer px-3 pb-3 flex flex-row justify-between items-end pt-4">
      <div class="offer-card-tags flex flex-row wrap-reverse items-center">
        <% offer.skills.each do |skill| %>
         <%= render 'components/pill', skill: skill, hover: true, selected: false, selectable: false%>
        <% end %>
      </div>
      <div class="offer-card-price flex flex-col ml-2 items-end">
        <div class="text-xl text-dark text-boldest"><%= offer.hourly_rate %>€<span class="text-xs">/h</span> </div>
      </div>
    </div>
  </div>
<%end%>
