
<div class="offers-container flex flex-col items-center">
  <h1 class="text-xl text-bold">Browse offers</h1>
  <%= form_tag offers_path, method: :get do %>
    <div class="flex flex-row items-center justify-center">
        <div class="offers-search-container">
          <%= text_field_tag :query,
            params[:query],
            class: "offers-search-input p-2 m-2 text-l",
            placeholder: "Search names, offers..."
          %>
        </div>
        <%= submit_tag "Find my techy", class: "button button-primary m-1 px-4 py-3" %>
    </div>
    <div class="flex flex-col items-center">
      <input type="checkbox"  id="availablenow" class="tagselect" name="availablenow"/>
      <label for="availablenow" class="hover pill grayscale py-1 text-s px-2 m-1 rounded-pill shadow-xs text-bold" style="background-color: hsl(100, 100%, 90%); color: hsl(100, 100%, 40%)">
          available now
      </label>
    </div>

    <div class="tag-selector flex flex-row flex-wrap items-center justify-center">
      <% @skills.each do |skill| %>

        <input type="checkbox"  id="<%= skill.name %>select" class="tagselect" name="skills[]" value="<%= skill.name %>"/>
        <label for="<%= skill.name %>select" class="hover pill py-1 px-2 m-1 rounded-pill shadow-xs text-xs text-bold" style="background-color: hsl(<%= skill.hue_code %>, 100%, 90%); color: hsl(<%= skill.hue_code %>, 100%, 40%)">
            <%= skill.name %>
        </label>
      <% end %>
    </div>
  <% end %>
  <div class="offers-grid flex flex-row wrap justify-center content-start">
    <%  if @search && !@search.blank? %>
      <% @offers.each do |offer| %>

       <!-- USER RESULTS  -->
        <% if @users_results %>
          <% if offer.user_id.in? @users_results %>
            <%= render 'components/offer_card', offer: offer %>
          <% end %>
        <% end %>

        <!-- OFFER RESULTS -->
        <% if @offer_results %>
          <% if offer.id.in? @offer_results %>
              <%= render 'components/offer_card', offer: offer %>
          <% end %>
        <% end %>

      <% end %>
    <% else %>
      <% @offers.each do |offer| %>
        <%= render 'components/offer_card', offer: offer %>
      <% end %>
    <% end %>

  </div>
</div>

