
<div class="offers-container flex flex-col items-center">
  <h1 class="text-xl text-bold">Browse offers</h1>


    <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a techy"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="offers-grid flex flex-row wrap justify-center content-start">
    <%  if @search && !@search.blank? %>
      <% @offers.each do |offer| %>

       <!-- USER RESULTS  -->
        <% if @users_results %>
          <% if offer.user_id.in? @users_results %>
            <%= render 'components/offer_card', offer: offer %>
          <% end %>
        <% end %>

        <!-- OFFER RESULTS -->
        <% if @offer_results %>
          <% if offer.id.in? @offer_results %>
              <%= render 'components/offer_card', offer: offer %>
          <% end %>
        <% end %>

      <% end %>
    <% else %>
      <% @offers.each do |offer| %>
        <%= render 'components/offer_card', offer: offer %>
      <% end %>
    <% end %>

  </div>
</div>

