<h1>This is your offer</h1>

<%= @offer.title  %>
<%= @offer.description %>

<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :booking_date, as: :string, required: true, input_html: {class: "datepicker"} %>
  <%= f.submit class: 'button button-primary' %>
<% end %>
